.visually__hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0); /* Legacy property for Internet Explorer */
  clip-path: inset(50%);
  white-space: nowrap;
}

.input__wrapper {
  height: 32px;
  min-width: 250px;
  max-width: 600px;
}

.input__wrapper textarea {
  width: auto;
  min-width: 18em;
  height: 2em;
  overflow: auto;
  line-height: 1.8;
  border: none;
  resize: both;
  outline: none;
  transition: border-color 0.2s ease-in-out;
  padding: 0;

  @media (min-width: 700px) {
    min-width: 32em;
  }
}

.card textarea:focus {
  box-shadow: 0 0 0 3px rgba(21, 156, 228, 0.4);
  padding: 0;
}
