.countdown__wrapper {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  gap: 24px;

  width: 246px;

  @media (min-width: 1200px) {
    width: 346px;
  }
}
