.visually__hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0); /* Legacy property for Internet Explorer */
  clip-path: inset(50%);
  white-space: nowrap;
}

.card {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  width: 500px;
  height: 120px;
  background-color: #f7e8fd;
  gap: 8px;
}

.card p {
  cursor: pointer;
  text-wrap: wrap;
  font-size: 16px;
}

.card fieldset {
  border: none;
  padding: 0;
  margin: 0;
  width: fit-content;
  display: flex;
  height: fit-content;
}

.input__wrapper input {
  width: 450px;
  border: 2px solid transparent;
  background-color: transparent;
  border: none;
  font-size: inherit;
  padding: 0;
  margin: 0;
  font-size: 16px;
  transition: none;
}

.card input:focus-visible,
.card input:focus {
  outline: none;
  box-shadow: 0 0 2px hsla(220, 100%, 50%, 80%);
  transition: none;
}
