.visually__hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0); /* Legacy property for Internet Explorer */
  clip-path: inset(50%);
  white-space: nowrap;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
  align-items: center;
  padding: 1rem;
  border-radius: 8px;
  height: 80px;

  min-width: 324px;
  max-width: 680px;

  &.inactive {
    background: aliceblue;
  }

  &.on__going {
    background-color: aquamarine;
  }

  &.paused {
    background-color: gold;
  }

  &.done {
    background-color: ghostwhite;
  }
}

.marked {
  text-decoration-line: line-through;
  text-decoration-color: var(--form-control-color);
}

.card button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  justify-self: end;
}

.hidden {
  display: none;
}

.content__wrapper {
  display: flex;
  min-width: 250px;
  max-width: 600px;
  justify-content: flex-start;
  gap: 8px;

  @media (min-width: 750px) {
    width: 100%;
  }
}

.todo__title,
.marked {
  display: block;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.8;
  /* to adapt the text when there's 
  no container space and truncate the text.
  Overflow other than visible, sets the min width to 0 */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
