.visually__hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0); /* Legacy property for Internet Explorer */
  clip-path: inset(50%);
  white-space: nowrap;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 1rem;
  border-radius: 8px;
  height: 132px;

  min-width: 324px;
  max-width: 680px;

  &.inactive {
    background: aliceblue;
  }

  &.on__going {
    background-color: aquamarine;
  }

  &.paused {
    background-color: gold;
  }

  &.done {
    background-color: ghostwhite;
  }
}

.task__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0;
  align-items: center;
}

.hidden {
  display: none;
}

.marked {
  text-decoration-line: line-through;
  text-decoration-color: var(--form-control-color);
}

.task__wrapper button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  justify-self: end;
}

.card__wrapper {
  display: flex;
  min-width: 250px;
  max-width: 600px;
  justify-content: flex-start;
  gap: 8px;

  @media (min-width: 750px) {
    width: 100%;
  }
}

.task__content {
  grid-row: 1;
  grid-column: 1 / 3;
  display: flex;
  gap: 16px;
  width: 100%;
  align-items: center;
}

.options__wrapper {
  grid-row: 2;
  border-top: 1px solid rgba(0, 0, 0, 0.195);
  padding-top: 8px;
}

.options {
  display: grid;
  justify-self: end;
}

.delete__button {
  background-color: transparent;
  border: unset;
}

.delete__button:hover {
  outline: none;
}
