.visually__hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0); /* Legacy property for Internet Explorer */
  clip-path: inset(50%);
  white-space: nowrap;
}

.todo__input__wrapper {
  width: 100%;
  border: 1px solid black;
  border-radius: 8px;
  background: transparent;
  display: flex;
  align-items: center;

  @media (min-width: 1200px) {
    max-width: 420px;
    flex: 1;
    height: 48px;
  }
}

.todo__input {
  border: none;
  padding: 0 6px;
  margin: 0;
  width: inherit;
  display: flex;
  height: 40px;
  align-items: center;
  gap: 6px;
}

.todo__input textarea {
  height: 32px;
  width: 100%;
  border: none;
  resize: none;
  line-height: 1.8;
}

.todo__input textarea:focus {
  outline: none;
  /* box-shadow: 0 0 0 3px rgba(21, 156, 228, 0.4); */
}
