.list__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 36px;
  padding: 4em 0;
  max-width: var(--container-width);
  width: 100%;

  @media (min-width: 750px) {
    gap: 24px;
    grid-template-columns: 1fr 1fr;
    grid-column: auto;
    grid-row: auto;
  }

  @media (min-width: 1440px) {
    gap: 36px;
  }

  @media (min-width: 1440px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@keyframes toast {
  from {
    transform: translateX(calc(100% + 64px));
  }
}

.toast__wrapper {
  animation: toast 800ms cubic-bezier(0, 0.46, 0, 1.04) both;
  will-change: transform;
}
