main {
  display: flex;
  flex-direction: column;
  height: 100vh;

  width: var(--container-width);
}

.todo__timer__wrapper {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  gap: 40px;

  @media (min-width: 1200px) {
    flex-direction: row;
    align-items: baseline;
  }
}
